{% extends "public/layout.html" %}

{% block breadcrumb %}
<li><a href="#">用户管理</a><span class="divider"></span></li>
<li class="active">用户列表</li>
{% endblock %}

{% block body %}
<table class="table table-striped">
    <thead>
        <tr>
           <th>用户名</th>
           <th>email</th>
           <th>状态</th>
           <th>最后登陆时间</th>
           <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% load pagination_tags %}
    {% autopaginate user_list %}
    {% for user in user_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td class="status">
                {% if user.is_active %}
                    <span class="glyphicon glyphicon-ok-circle text-success"></span>正常
                {% else %}
                    <span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止
                {% endif %}
            </td>
            <td>{{ user.last_login|date:"Y-m-d H:i:s" }}</td>
            <td>
                <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1"  data-toggle="dropdown">
                            修改 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    {% if user.is_active %}
                        <button type="button" class="btn btn-sm btn-warning modify_user_status"
                                status={{ user.is_active|lower }} data="{{ user.id }}">禁用
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-sm modify_user_status"
                                status={{ user.is_active|lower }} data="{{ user.id }}">开启
                        </button>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <div class="panel-default text-center">
        {% paginate using 'public/pagination.html' %}
    </div>


{% endblock %}

{% block js %}
<script>
function change_user_status(status_td_obj, status){
    if (status == "true"){
        status_td_obj.html('<span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止')
    }else{
        status_td_obj.html('<span class="glyphicon glyphicon-ok-circle text-success"></span>正常')
    }
}
$(function(){
	$(".modify_user_status").click(function(){
        var click_obj = $(this);
        var uid = click_obj.attr('data');
        console.log(uid);
        var status = click_obj.attr('status');


        {% include 'public/csrf_token_js.html' %}
        $.ajax({
            url: "{% url 'opsuser:modify_user_status' %}",
            type: "POST",
            data: {"uid": uid},
            success: function (res) {
                if (res.status != 0){
                    swal("操作失败", res.errmsg, "error")
                }else{
                    if (status == "true"){
                        click_obj.attr("status", "false").text("开启");
                        click_obj.removeClass("btn-warning").addClass("btn-info");
                    }else{
                        click_obj.attr("status", "true").text("禁用");
                        click_obj.removeClass("btn-info").addClass("btn-warning");
                    }
                }
                status_obj = click_obj.parents('td').siblings('.status');
                change_user_status(status_obj, status)
            }
        });

        return false
    })
})
</script>
{% endblock %}
