<select data-placeholder="" multiple="选择联系人" tabindex="-1" name="op_interface" id="input_op_interface"
        class="chosen-select form-control chosen-transparent" style="display: none;">
    <option value="rock@51reboot.com" selected="">rock@51reboot.com | rock</option>
    <option value="pc@51reboot.com">pc@51reboot.com | pc</option>
    <option value="panda@51reboot.com">panda@51reboot.com | panda</option>
    <option value="woniu@51reboot.com">woniu@51reboot.com | woniu</option>
    <option value="wd@51reboot.com">wd@51reboot.com | wd</option>
</select>


<select data-placeholder="Your Favorite Types of Bear" id="zhourudong" multiple=""
        class="col-sm-2 control-label zhorudong" tabindex="-1" style="display: none;">
    <option value=""></option>
    <option>American Black Bear</option>
    <option>Asiatic Black Bear</option>
    <option selected="">Sloth Bear</option>
    <option disabled="">Spectacled Bear</option>
</select>