


<div class="form-group">
    <label for="name" class="col-sm-2 control-label">业务负责人 *</label>
    <div class="col-sm-8">
        <select data-placeholder="" multiple="选择联系人" tabindex="-1" name="dev_interface" id="input_dev_interface" class="chosen-select form-control chosen-transparent" style="display: none;">
            <option value="admin@qq.com">admin@qq.com | admin</option>
            <option value="wangwu@qq.com">wangwu@qq.com | 王五</option>
            <option value="zhansan@qq.com">zhansan@qq.com | 张三</option>
            <option value="lisi@qq.com">lisi@qq.com | 李四</option>
        </select>
        <div class="chosen-container chosen-container-multi" style="width: 499px;" title="" id="input_dev_interface_chosen">
            <ul class="chosen-choices">
                <li class="search-field"><input type="text" value="选择多个选项" class="default" autocomplete="off" style="width: 109px;" tabindex="3"></li>
            </ul>
            <div class="chosen-drop">
                <ul class="chosen-results"></ul>
            </div>
        </div>
    </div>
</div>